<% if @tweets.empty? %>
nothing
<% else %>
  <% @tweets.each do |tweet| %>
	<tr><td><img src="<%= tweet.first %>" id="<%= tweet[3] -%>_<%= tweet.last -%>" class="twitter_icon" height="32px", width="32px"/></td><td><%= tweet[1] %>--<%= tweet[2] %></td></tr>
  <% end %>
<% end %>
