<div id="user_display">
<div id="tabs" style="margin-top: 30px">
    <ul>
        <% count = 1 %>
        <% @twits.each do |twit| %> 
        <li><a href="#fragment_<%= count %>"><span><%= twit.twitter_name %></span></a></li>
        <% count += 1 %>
        <% end %>
        <li><a href="#fragment_<%= count %>"><span>Searches</span></a></li>
    </ul>
        <% count = 1 %>
        <% @twits.each do |twit| %>
        <div id="fragment_<%= count %>">
          <div id="group_bar_<%= twit.id %>" style="width: 100%;">
	<p><span style="color: red" id="remain_<%= twit.id %>"></span> <a href="#" id="dialog_link_group_add_<%= twit.id %>" class="ui-state-default ui-corner-all">Add Group</a>&nbsp;&nbsp;<a href="#" id="dialog_link_tweet_<%= twit.id %>" class="ui-state-default ui-corner-all">Tweet</a></p>
	</div>
         <div class="haccordion">
          <% header_count = 1 -%>
          <div class="headercontainer">
          <% twit.groups.each do |group| %>
           <div class="header" id="header_<%= header_count -%>"><%= group.group_name %></div>
            <% header_count += 1 -%>
          <% end %>
          </div> 
           <% content_count = 1 -%>
          <% twit.groups.each do |group| %>
            <div class="content" id="content_<%=content_count -%>">
           <% content_count +=1 -%>
           <div id="group_<%= twit.id %>_<%= group.group_name.gsub(/\s/,'-') %>" class="group_display">              
            <p class="group_name"><span id="group_span_<%= group.id -%>"><%= group.group_name %></span>
            <%= link_to "Edit", "", :class => "group_name", :id => "edit_group_#{group.group_name.gsub(/\s/,'-')}" %>
             <%= link_to "Delete", "", :class => "group_name", :id => "delete_group_#{group.id}" %></p>
               <% table_counter = 0 -%>
               <table id="table_<%= twit.id %>_<%= group.group_name.gsub(/\s/,"-") %>">
               <% group.readable_tweets(twit,true,true).each do |tweet| %>
			<tr><td><img src="<%= tweet.first %>" id="<%=tweet[3] -%>_<%= tweet.last %>" class="twitter_icon" height="32px", width="32px"/></td><td><%= tweet[1] %>--<%= tweet[2] %></td></tr>
               <% table_counter += 1 -%>
               <% end %>
               <% if table_counter == 0 -%>
		<tr><td></td><td></td></tr>
               <% end -%>
               </table>
	  </div>
          </div> <!-- div of content -->
          <% end %>
       <br clear="left"/>
        </div> <!-- div for haccordian -->
        </div> <!-- div for fragment-->
          <% count += 1 %>
       <% end %>
       <div id="fragment_<%= count %>">
         <div style="width: 100%;">
	      <p><a href="#" id="dialog_link_search_add" class="ui-state-default ui-corner-all">Add Search</a></p>
         </div>
         <div class="haccordion">
         <% header_count = 1 %>
         <div class="headercontainer">
         <% @searches.each do |search| %>
           <div class="header" id="header_<%= header_count %>"><%= search.search_name %></div>
           <% header_count += 1 -%>
         <% end -%>
         </div>
         <% content_count = 1 %>
         <% @searches.each do |search| %>
               <div class="content" id="content_<%= content_count -%>">
               <% content_count += 1 %>
           <div id="search_<%= search.id %>" class="group_display">              
            <p class="group_name"><span id="search_span_<%= search.id -%>"><%= search.search_name %></span>
            <%= link_to "Edit", "", :class => "group_name", :id => "edit_search_#{search.id}" %>
             <%= link_to "Delete", "", :class => "group_name", :id => "delete_search_#{search.id}" %></p>
            </p>
               <% table_counter = 0 -%>
               <table id="table_search_<%= search.id %>">
               <% search.readable_tweets(session.user.id,false,true).each do |tweet| %>
		   <tr><td><img src="<%= tweet.first %>" id="<%= tweet[3] -%>_<%= tweet.last -%>" class="twitter_icon" height="32px" width="32px"/></td><td><%= tweet[1] %>--<%= tweet[2] %></td></tr>
               <% table_counter += 1 -%>
               <% end %>
               <% if table_counter == 0 -%>
		  <tr><td></td><td></td></tr>
               <% end -%>
              </table>
	  </div>
          </div> <!-- div of content -->
         <% end %>
       <br clear="left"/>
        </div> <!-- div for haccordian -->
       </div>  <!--search fragment div -->
    </div>
</div>

<!-- Dialogs go here -->
<div id="dialog_twitter_group_add" title="Add Group">
   <%= hidden_field :name => "twit_id", :id => "group_twit_id", :value => "" %>
   <p class="field_container"><%= text_field :group_name, :id => "group_name", :label => "Name for the Group:", :value => "" -%></p>
    <p>Select the friends for this group</p>
    <div id="group_friend_list">
    </div>
</div>      
<div id="dialog_search_add" title="Add Search">
   <p class="field_container"><%= text_field :search_name, :id => "search_name", :label => "Name for the Search: ", :value => "" -%></p>
   <p class="field_container"><%= text_field :search_term, :id => "search_term", :label => "Search Words: " -%></p>
</div>
<div  id="dialog_send_tweet" title="Send a Tweet">
  <p class="field_container"><span id="tweet_counter">140 characters left</span>
   <p class="field_container"><%= text_area "", :id => "tweet_text", :label => "Tweet Text:  ", :rows => "5", :cols => "28" -%></p>
   <%= hidden_field :name => "twit_id", :id => "send_tweet_twit_id", :value => "" %>
</div>
<div id="dialog_search_edit" title="Edit Search">
   <p class="field_container"><%= text_field :search_name, :id => "name_edit_search", :label => "Name for the Search: ", :value => "" -%></p>
   <p class="field_container"><%= text_field :search_term, :id => "term_edit_search", :label => "Search Words: ", :value => "" -%></p>
   <%= hidden_field :name => "hidden_edit_search_id", :id => "hidden_edit_search_id", :value => "" %>
</div>
<div id="dialog_search_delete" title="Delete Search">
   <p>Delete this search?</p>
   <%= hidden_field :name => "hidden_delete_search_id", :id => "hidden_delete_search_id", :value => "" %>
</div>
<div id="dialog_twitter_group_delete" title="Delete Group">
    <p>Delete this group?</p>
   <%= hidden_field :name => "hidden_delete_group_id", :id => "hidden_delete_group_id", :value => "" %>
</div>      
