<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("user_tabs");
</script> 

<div id="user_tabs" class="yui-navset">
    <ul class="yui-nav">
        <% count=1 %>
        <% @twits.each do |twit| %> 
        <li><a href="#tab_1<%= count %>"><em><%= twit.twitter_name %></em></a></li>
        <% count += 1 %>
        <% end %>
        <li class="selected"><a href="#tab_1<%= count %>"><em>Searches</em></a></li>
    </ul>            
    <div class="yui-content" style="background: black;color: white">
        <% @twits.each do |twit| %>
        <div>
          <div style="width: 100%;">
		     <p><a href="#" id="dialog_link_group_add_<%= twit.id %>" class="ui-state-default ui-corner-all">Add Group</a></p>
			</div>
          <% twit.groups.each do |group| %>
           <div id="<% group.group_name %>" class="group_display">              
            <p class="group_name"><%= group.group_name %></p>
               <table>
            
               <% group.readable_tweets(twit).each do |tweet| %>
					<tr><td><img src="<%= tweet.first %>"/></td><td><%= tweet[1] %></td></tr>
               <% end %>
               </table>
			  </div>
          <% end %>
        </div>
       <% end %>
       <div>
         <div style="width: 100%;">
		     <p><a href="#" id="dialog_link_search_add" class="ui-state-default ui-corner-all">Add Search</a></p>
         </div>
         <% @searches.each do |search| %>
           <div id="<%= search.search_name %>" class="group_display">              
            <p class="group_name"><%= search.search_name %></p>
               <% search.readable_tweets.each do |tweet| %>
						<p><%= tweet.first %><%= tweet.last %>
               <% end %>
         <% end %>
       </div>
       
    </div>
</div>
<!-- Dialogs go here -->
<div id="dialog_twitter_group_add" title="Add Group">
   <p class="field_container"><%= text_field :group_name, :id => "group_name", :label => "Name for the Group:", :value => "" -%></p>
    <p>Select the friends for this group</p>
    <div id="group_friend_list">
    </div>
</div>      
<div id="dialog_search_add" title="Add Search">
   <p class="field_container"><%= text_field :search_name, :id => "search_name", :label => "Name for the Search: ", :value => "" -%></p>
   <p class="field_container"><%= text_field :search_term, :id => "search_term", :label => "Search Words: " -%></p>
</div>      
