<div style="margin-top: 30px" id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>General</span></a></li>
        <li><a href="#fragment-2"><span>Twitter Users</span></a></li>
        <li><a href="#fragment-3"><span>Searches</span></a></li>
    </ul>
    <div id="fragment-1">
        <p>Place Holder for general preferences</p>
    </div>
    <div id="fragment-2">
       <div id='twitter_users'>
		   <p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all">Add Twitter User</a></p>
         <p style="color: red">Click on Twitter user name  below to configure user</p>
        <%  @twits.each do |twit| %>
			<p><a href="#" id="twitter_dialog_<%= twit.twitter_name %>"><%= twit.twitter_name %></a></p>
        <% end %>
       </div>
    </div>
    <div id="fragment-3">
		   <p><a href="#" id="search_config_link" class="ui-state-default ui-corner-all">Add Search</a></p>
         <p style="color: red">Click on search name below to configure user.</p>
         <% @searches.each do |search| %>
	   		<p><a href="#" id="search_dialog_<%= search.search_name %>"><%= search.search_name %></a></p>
        <% end %>
    </div>
</div>

<div id="dialog" title="Add Twitter User">
  <div class="auth_formRow">
  <%= text_field :twittername, :id => "twitter_user",:label => "Username" %><br />
  </div>
  <div class="auth_formRow">
  <%= password_field :twitterpassword, :id => "twitter_password", :label => "Password" %><br />
  </div>  
  <div class="auth_formRow">
  <%= password_field :twitterpassword_confirmation, :id => "twitter_password_confirmation", :label => "Password Confirmation" %><br />
  </div>
</div>
<div id="dialog_twitter_config" title="Configure Twitter User">
    <p>Configure your users here</p>
</div>
<div id="dialog_search_config" title="Configure Twitter Searches">
	<p>Configure your searches here</p>
</div>
<div style="color: white" id="notice_alert" title="ALERT!"></div>
</div>
