<div id="usermenu">
  <ul>
      <li class="hidden"><%= link_to "Skip to Content", '#content' -%>&nbsp;||</li>
    <%- if current_user -%>
      <li><%= link_to "Logout", url(:logout) -%>&nbsp;||</li>
      <li><%= link_to "Preferences", url('users/preferences') -%></li>
    <%- else -%>
      <li><%= link_to "Signup", resource(:users, :new) unless message[:notice]=='Logged Out' -%> &nbsp;||</li>
      <li><%= link_to "Login", url(:login) -%></li>
    <%- end -%>
  </ul>
</div>

